[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"

[scripts]
start = 'python ./src/pipenv_test'
test = 'pytest -sv'
test-cov = 'pytest --cov=pipenv_test --cov-report=html'
test-junit = 'pytest --junitxml=junit.xml'
